# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Large Files
history/
rag/database/
rag/docs/
Tam_Tip_Kutuphanesi/
*.pdf
*.json

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Logs
*.log
